@font-face {
  font-family: CeraProBold;
  font-display: sans-serif;

  src: url(../assets/fonts/CeraProBold.woff2) format("woff2"),
    url(../assets/fonts/CeraProBold.woff) format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: CeraProBoldItalic;
  font-display: sans-serif;

  src: url(../assets/fonts/CeraProBoldItalic.woff2) format("woff2"),
    url(../assets/fonts/CeraProBoldItalic.woff) format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: CeraProLight;
  font-display: sans-serif;

  src: url(../assets/fonts/CeraProLight.woff2) format("woff2"),
    url(../assets/fonts/CeraProLight.woff) format("woff");
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: CeraProThin;
  font-display: sans-serif;

  src: url(../assets/fonts/CeraProThin.woff2) format("woff2"),
    url(../assets/fonts/CeraProThin.woff) format("woff");
  font-weight: thin;
  font-style: thin;
}

@font-face {
  font-family: CeraProRegular;
  font-display: sans-serif;

  src: url(../assets/fonts/CeraProRegular.woff2) format("woff2"),
    url(../assets/fonts/CeraProRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CeraProBlack;
  font-display: sans-serif;

  src: url(../assets/fonts/CeraProBlack.woff2) format("woff2"),
    url(../assets/fonts/CeraProBlack.woff) format("woff");
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: CeraProMedium;
  font-display: sans-serif;

  src: url(../assets/fonts/CeraProMedium.woff2) format("woff2"),
    url(../assets/fonts/CeraProMedium.woff) format("woff");
  font-weight: 600;
}
