:root {
  /*color*/
  --white: white;
  --black: #2d2b33;
  --grad1: #ec14ff;
  --grad2: #6806fe;
  --grey: #6f6c80;
  --headerBlue: #eceff6;
  --red: #f8275d;

  /*transition*/
  --transition: 0.3s ease-in-out;
  --transition-fast: 0.1s ease-in-out;


  /*shadow*/
  --shadow: 0 1rem 2rem rgba(213, 221, 236, 0.4);
}

@custom-media --xs screen and (min-width: 0);
@custom-media --s screen and (min-width: 350px);
@custom-media --sm screen and (min-width: 576px);
@custom-media --md screen and (min-width: 828px);
@custom-media --lg screen and (min-width: 900px);
@custom-media --xl screen and (min-width: 1260px);
@custom-media --xxl screen and (min-width: 1460px);
@custom-media --xxxl screen and (min-width: 1760px);
@custom-media --xxxxl screen and (min-width: 1960px);
